<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Books</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style>
        td {
            width: 200px;
        }

        th {
            text-align: left;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<a th:href="@{/logout}">Logout</a>

<h1>Books:</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tr th:each="book : ${ books }">
        <td th:text="${ book.id }" >ID</td>
        <td th:text="${ book.title }">First Name</td>
        <td th:text="${ book.author.name }">Last Name</td>
        <td th:text="${ book.genre.genre }">Last Name</td>
        <td th:text="${ book.quantity }">Last Name</td>
        <td th:text="${ book.price }">Last Name</td>
    </tr>
    <tbody>

    </tbody>
</table>


<hr/>

<form th:action="@{/operBook}" th:object="${searchWord}" method="post">
    <legend><b>Find book by title, author or genre:</b></legend>
    Search word: <input type="text" id="title" name="searchWord"/>
    <input type="submit" class="button" name="action" value="Search by title" />
    <input type="submit" class="button" name="action" value="Search by author" />
    <input type="submit" class="button" name="action" value="Search by genre" />
</form>

<br/>

<form th:action="@{/sellBook}" th:object="${bookDto}" method="post">
    Id:
    <select name="id" id="id" >
        <option th:each="book : ${books}" th:field="${bookDto.id}" th:value="${book.id}" th:text="${book.id}"></option>
    </select>
    Quantity:
    <input type="number" id="quantity" name="quantity"/>
    <input type="submit" class="button" name="Sell book" value="Sell book" />
</form>

</body>

</html>